html {
    box-sizing: border-box;
}

body {
    background-color: silver;
}

h1 {
   font-family: 'Dancing Script', cursive;
  padding-left: 20px;
  font-weight: bold;
  color: black;
}


a {
    color: black;
}


div {
    overflow: auto;
}


h2 {
    font-family: 'Hind', sans-serif;
   
}

img {
    
    width:35%;
    float: left;
    border: gray;
    border-style: groove;
    margin-right: 50px;
    
}

p {
    padding: 5px;
    font-family: 'Architects Daughter', cursive;
    font-size: 15px;
 }